.infoContainer {
  margin-bottom: 40px;
}

.profession {
  font-weight: 700;
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
}

.name {
  font-weight: 700;
  font-size: 32px;
  color: #000;
  margin-bottom: 15px;
}

