.languagesContainer {
  .languageItem {
    margin-bottom: 1rem;

    .languageHeader {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.25rem;

      .languageName {
        color: #ffffff;
      }
      .languageLevel {
        color: #98c3b8;
      }
    }

    .proficiencyBar {
      background-color: #1c302b;
      border-radius: 12px;
      height: 0.5rem;
      overflow: hidden;

      .proficiencyFill {
        height: 100%;
        background: linear-gradient(90deg, #2cd2a9, #1c9c7c);
        width: 0;
        transition: width 1s ease-in-out;
      }
    }
  }
}
