/* Education.module.scss */

.educationContainer {
  margin-bottom: 20px;
}

.educationTitle {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  margin-bottom: 10px;
}

.nameEducation {
  font-weight: 700;
  font-size: 18px;
  color: #6d9bf5;
  margin-bottom: 5px;
}

.educationDip {
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  margin-bottom: 5px;
}

.workExperienceTime {
  font-weight: 400;
  font-size: 14px;
  color: #a8a8a8;
  margin-bottom: 10px;
}
