.skillsContainer {
  margin-bottom: 30px;

  @media (max-width: 768px) {
    margin-bottom: 20px;
  }
}

.skillsTitle {
  background-color: #066;
  color: #fff;
  padding: 8px 15px;
  margin-bottom: 15px;
  font-size: clamp(1.1rem, 0.9rem + 0.6vw, 1.4rem);
  font-weight: 600;
  border-radius: 3px;
}

.skillsList {
  padding-left: 0;
  margin-bottom: 8px;
}

.skillsListItem {
  margin-bottom: 8px;
  line-height: 1.4;

  @media (max-width: 768px) {
    margin-bottom: 5px;
  }
}

.skillsListItem strong {
  font-weight: 600;
}
