// Header.module.scss

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2.5rem;
  border-bottom: 1px solid #214a3d;
  white-space: nowrap;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
}

.logoText {
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: -0.015em;
}

.navigation {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 2rem;
}

.navLink {
  color: white;
  font-size: 0.875rem;
  font-weight: medium;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.themeToggle {
  display: flex;
  max-width: 30rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.5rem;
  height: 2.5rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  gap: 0.5rem;
  background-color: #214a3d;
  color: white;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.015em;
  min-width: 0;
}

.profileImage {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCwfPT0RUmLlLT019JzkBmBfIOFMpKNqclrIVc_VmFCE2WoUv26-AlSJbunTrsju3Qxnm2B_JAPMfDijvAxunvuvJC0wKoUtScR0ys6CYHyE56EfIZOgJgUnZR7drHQOvq2Vkxroez8lPaIwqG3_LOi2COoWqMPSrJnFPNtKJzda7_rEJpoTC_si464g9PbBnQvzYg-12BbRVjDtozOcyAdOA2b6c3SAbzqegEfZ72yhHINZX5_Hp1fVO6mQLgEmaiGmH-Th36UbNs");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  aspect-ratio: 1;
}
