.sidebar {
  position: relative;
  background-color: teal;
  margin-left: 50px;
  color: #fff;
  padding: 77px 30px 25px 30px;
  width: 80%; // или нужная вам ширина
  box-sizing: border-box;
  z-index: 2; /* Выше sidebar */

  &__photo {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  &__section {
    .sectionTitle {
      background-color: hsla(0, 0%, 100%, 0.15);
      color: #fff;
      padding: 8px 15px;
      margin-bottom: 15px;
      font-size: clamp(1.1rem, 0.9rem + 0.6vw, 1.4rem);
      font-weight: 600;
      border-radius: 3px;
    }
  }
}
/* Адаптивность */
@media (max-width: 992px) {
  .sidebar {
    width: 300px;
    margin-left: 30px;
    padding: 60px 20px 20px 20px;
    margin-top: 150px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    margin-left: 0;
    padding: 30px 15px;
    min-height: auto;
    margin-top: 0;
  }
}
