.contactContainer {
  margin-bottom: 20px;

  .contactsTitel {
    color: #ff0000;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .contactsItem {
    margin-bottom: 8px;
  }

  .contactsTitle {
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    margin-right: 8px;
  }

  .contactsLinks {
    text-decoration: underline;
    color: #fa9191;
    font-weight: 700;
    font-size: 14px;
  }
}
