.contactContainer {
  margin-top: 100px;
  padding: 15px;
  background: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0.5) 0%,
    rgba(248, 248, 248, 0.1) 20%,
    transparent 100%
  );
  border-left: 3px solid var(--primary-red);
  position: relative;
  overflow: hidden;
  box-shadow: 0 -50px 60px rgba(0, 0, 0, 0.4); // как будто аватар отбрасывает свет

  &::before {
    content: "連絡先";
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: "Ma Shan Zheng", cursive;
    color: rgba(193, 42, 42, 0.1);
    font-size: 60px;
    z-index: 0;
  }
}
