/* Основной контейнер приложения */
.app {
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

/* Стили для заголовка */
.appHeader {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

/* Стили для основного содержимого */
.appContent {
  padding: 20px;
}

/* Стили для подвала */
.appFooter {
  background-color: #282c34;
  color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Стили для кнопок */
.button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

/* Стили для ссылок */
.link {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: #0056b3;
  text-decoration: underline;
}
