:root {
  --primary-white: #f8f8f8;
  --primary-red: #c12a2a;
  --accent-red: #e74c3c;
  --soft-pink: #f9d5e5;
  --dark-charcoal: #333;
  --ink-black: #1a1a1a;
  --sakura-pink: #fbb1c1;
  --paper-white: #fefefe;
}

@import url("https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap");

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: var(--primary-white);
  color: var(--ink-black);
  margin: 0;
  background-image: url("sakura-bg.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

h1,
h2,
h3 {
  font-family: "Ma Shan Zheng", cursive;
  color: var(--primary-red);
}
